@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #020617;
  --foreground: #ffffff;
}

/* Base Style */
body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      transparent,
      rgba(59, 130, 246, 0.5),
      transparent
    );
    border-radius: 10px;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(59, 130, 246, 0.5) transparent;
  }
}

html {
  scroll-behavior: smooth;
}